.posts-box {
  display: flex;
  align-items: center;
  justify-content: left;
  color: seagreen;
  border-radius: 20px;
  width: 140vh;
  margin: 20px;
  height: 80vh;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(2, 35, 66) 0%,
    rgb(28, 96, 123) 100.2%
  );
  font-size: 20px;
  font-family: "Varela", sans-serif;
  z-index: -1;
  margin: 70px;
}
